<div class="admin-user-cards">
	<button class="btn btn-default pull-right"><i class="ico-card"></i>Agregar tarjeta</button>
	<div class="row card-list">
		<div class="col-md-3">
			<img src="images/card-gold.png">
		</div>
		<div class="col-md-9">
			<h3>Tarjeta Titular <sup>***</sup>000</h3>
			<h4>Jos&eacute; Quiroz Valverde</h4>
			<p>
				<button class="btn btn-default">Editar</button>
				<button class="btn btn-default">Bloquear tarjeta</button>
			</p>
		</div>
	</div>
	<div class="row card-list">
		<div class="col-md-3">
			<img src="images/card-red.png">
		</div>
		<div class="col-md-9">
			<h3>Tarjeta adicional <sup>***</sup>112</h3>
			<h4>Jos&eacute; Quiroz Valverde</h4>
			<p>
				<button class="btn btn-default">Editar</button>
				<button class="btn btn-default">Bloquear tarjeta</button>
				<button class="btn btn-default">Cancelar tarjeta</button>
			</p>
		</div>
	</div>
	<div class="row card-list">
		<div class="col-md-3">
			<img src="images/card-red.png">
		</div>
		<div class="col-md-9">
			<h3>Tarjeta adicional <sup>***</sup>434</h3>
			<h4>Jos&eacute; Quiroz Valverde</h4>
			<p>
				<button class="btn btn-default">Editar</button>
				<button class="btn btn-default">Bloquear tarjeta</button>
				<button class="btn btn-default">Cancelar tarjeta</button>
			</p>
		</div>
	</div>
</div>