<div class="admin-user-edit-card">
	<div class="row">
		<div class="col-md-8 holder-data">
			<div class="col-md-6">
				<img src="images/card-gold.png" alt="">
			</div>
			<div class="col-md-6">
				<h3>Tarjeta titular <sup>***</sup>000
				<span>José Quiroz Valverde</span>
				</h3>
			</div>
		</div>
	</div>
	<div class="menu-movs">
	  <p class="col-md-4 text-center active">Seguridad</p>
	  <p class="col-md-4 text-center">Alertas</p>
	  <p class="col-md-4 text-center">Monto m&aacute;ximo</p>
	</div>
	<!-- SEGURIDAD -->
	<div class="row card-security">
		<div class="col-md-4">
			<h4>Bloquear Tarjeta</h4>
			<p>Bloquear la tarjeta impide que se  realicen operaciones con la tarjeta hasta que se vuelva a activar.</p>
			
		</div>
		<div class="col-md-8">
			<h4>Cancelar tarjeta por robo o extrav&iacute;o</h4>
			<p>Este es un proceso irreversible. Si piensas que tu tarjeta se ha extraviado o ha sido robada, puedes cancelarladando click en el botón: “Cancelar tarjeta".</p>
			<p>Una vez cancelada la tarjeta tendrás que acudir a tu sucursal para solicitar una nueva.</p>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-default col-md-4">Bloquear tarjeta</button>
		<button class="btn btn-default col-md-4 pull-right">Cancelar tarjeta</button>
	</div>
	<!-- SEGURIDAD -->

	<!-- DAR DE ALTA ALERTAS -->
	<div class="row card-alerts-setup">
		<h3>Aún no has configurado las alertas, ingresa los datos correspondientes y selecciona las alertas que deseas recibir.</h3>
		<div class="row">
			<p class="col-md-6">
				<span>Ingresar n&uacute;mero de celular</span>
				<input type="number" placeholder="( )     -    -">
			</p>
		</div>
		<div class="row">
			<p class="col-md-6">
				<span>Ingresar correo electr&oacute;nico</span>
				<input type="number" placeholder="Correo electr&oacute;nico" class="col-md-5">
			</p>
		</div>

		<div class="row">
			<p class="col-md-6">
				<button class="btn btn-success">Continuar</button>
			</p>
		</div>
	</div>
	<!-- DAR DE ALTA ALERTAS -->

	<!-- ALERTAS -->
	<div class="row card-alerts">
		<h2 class="col-md-12">Datos de alertas</h2>
		<div class="row">
			<p class="col-md-6">Correo electr&oacute;nico:</p>
			<input type="email" class="col-md-6" placeholder="Correo electr&oacute;nico">
		</div>
		<div class="row">
			<p class="col-md-6">N&uacute;mero celular:</p>
			<input type="number" class="col-md-6" placeholder="N&uacute;mero celular">
		</div>
		<div class="row">
			<p class="col-md-6">¿Por qu&eacute; medio quieres ser notificado?</p>
			<p class="col-md-6">
				<button class="btn btn-default">SMS</button>
				<button class="btn btn-default">E-MAIL</button>
				<button class="btn btn-success">Ambas</button>
			</p>
		</div>
		<h2 class="col-md-12">Tipos de alertas</h2>
		<div class="checkbox-list">
			<div class="row">
				<p class="col-md-6">
					<i class="ico-checkbox"></i>Aviso de saldo
				</p>
				<p class="col-md-6">
					<i class="ico-checkbox active"></i>Pago para no generar intereses
				</p>
			</div>
			<div class="row">
				<p class="col-md-6">
					<i class="ico-checkbox active"></i>Cargos por montos establecidos
				</p>
				<p class="col-md-6">
					<i class="ico-checkbox active"></i>Pago m&iacute;nimo
				</p>
			</div>
			<div class="row">
				<p class="col-md-6">
					<i class="ico-checkbox active"></i>Fecha de corte y l&iacute;mite de pago
				</p>
				<p class="col-md-6">
					<i class="ico-checkbox"></i>Pago total
				</p>
			</div>
			<div class="row">
				<p class="col-md-6">
					<i class="ico-checkbox active"></i>Disposici&oacute;n en efectivo en ATM's y Sucursales
				</p>
			</div>
		</div>
		<div class="row">
			<button class="btn btn-default col-md-3 pull-right">Guardar cambios</button>
		</div>
	</div>
	<!-- ALERTAS -->

	<!-- MONTO -->
	<div class="row card-max-amount">
		<div class="col-md-6">
			<h4 class="min-amount">$8,000.00</h4>
			<p>Monto m&aacute;ximo</p>
		</div>
		<div class="col-md-6 text-right">
			<h4 class="max-amount">$20,000.00</h4>
			<p>L&iacute;mite de cr&eacute;dito</p>
		</div>
		<div class="slider">
			<input type="range" name="points" min="0" max="10">
		</div>
		<div class="row">
			<button class="btn btn-default col-md-3 pull-right">Guardar cambios</button>
		</div>
	</div>
	<!-- MONTO -->
</div>