<div class="admin-setup-card">
	<div class="row setup-card-nav">
		<ul class="list-unstyled">
		    <li class="active">1. Ingresar</li>
		    <li>2. Detalles</li>
		    <li>3. Confirmaci&oacute;n</li>
		</ul>
	</div>
	<div class="row setup-card-head">
		<h3>Alta de tarjetas de crédito</h3>
		<p>Ingresa los datos del alta de tarjeta de crédito que se muestran a continuación y da clic en continuar.</p>
	</div>
	
	<!-- PARTE 1 -->
	<div class="row setup-card-capture">
		<div class="row">
			<p class="col-md-6">
				<span>N&uacute;mero de tarjeta*</span>
				<input type="number" placeholde="">
			</p>
		</div>
		<div class="row">
			<p class="col-md-6">
				<span>Nombre del beneficiario*</span>
				<input type="text" placeholde="">
			</p>
		</div>
		<div class="row">
			<p class="col-md-6">
				<span>Importe m&aacute;ximo a pagar*</span>
				<input type="number" placeholde="">
			</p>
		</div>
		<div class="row">
			<p class="col-md-6">
				<span>E-mail (opcional)</span>
				<input type="email" placeholde="">
			</p>
		</div>
	</div>
	<div class="col-md-2 col-md-offset-8">
		<button class="btn btn-gray">Cancelar</button>
	</div>
	<div class="col-md-2">
		<button class="btn btn-success">Continuar<i class="ico-arrow-forward"></i></button>
	</div>
	<!-- PARTE 1 -->

	<!-- PARTE 2 -->
	<div class="row setup-card-confirm">
		<div class="row">
			<table class="col-md-6">
				<tr>
					<td>N&uacute;mero de tarjeta</td>
					<td>eweqe123321321321</td>
				</tr>
				<tr>
					<td>Nombre del beneficiario</td>
					<td>Jose Quiroz Valverde</td>
				</tr>
				<tr>
					<td>Importe m&aacute;ximo a pagar</td>
					<td>$30,000.00</td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td>a@a.com</td>
				</tr>
			</table>
		</div>
		<div class="col-md-2">
			<button class="btn btn-gray"><i class="ico-arrow-back"></i>Regresar</button>
		</div>
		<div class="col-md-2 col-md-offset-6">
			<button class="btn btn-gray">Cancelar</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-success">Continuar<i class="ico-arrow-forward"></i></button>
		</div>
	</div>
	<!-- PARTE 2 -->

	<!-- PARTE 2 -->
	<div class="row setup-card-confirm detail">
		<div class="row">
			<table class="col-md-6">
				<tr>
					<td>N&uacute;mero de tarjeta</td>
					<td>eweqe123321321321</td>
				</tr>
				<tr>
					<td>Nombre del beneficiario</td>
					<td>Jose Quiroz Valverde</td>
				</tr>
				<tr>
					<td>Importe m&aacute;ximo a pagar</td>
					<td>$30,000.00</td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td>a@a.com</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-3">
		<button class="btn btn-gray">Regresar a tarjetas</button>
	</div>
	<div class="col-md-3 col-md-offset-6">
		<button class="btn btn-success">Dar de alta otra tarjeta</button>
	</div>
	<!-- PARTE 2 -->
</div>