<div class="admin-user-token">
	<div class="row">
		<div class="col-md-4 img-token">
			<img src="images/token.jpg">
		</div>
		<div class="col-md-8 token-data">
			<table>
				<tr>
					<td>ID del dispositivo:</td>
					<td class="text-right">LWDFNF32324234344</td>
				</tr>
				<tr>
					<td>N&uacute;mero de serie:</td>
					<td class="text-right">32435465</td>
				</tr>
				<tr>
					<td>Fecha de vencimiento:</td>
					<td class="text-right">12/10/2015</td>
				</tr>
			</table>
			<div class="btns">
				<button class="btn btn-default">Desactivar temporalmente</button>
				<button class="btn btn-default">Desvincular celular</button>
			</div>
		</div>
	</div>
</div>