<div class="admin-user-data">
	<div class="admin-head">
		<h2 class="col-md-6">Direcci&oacute;n</h2>
		<div class="col-md-6 text-right">
			<button class="btn btn-default">Editar</button>
		</div>
	</div>
	<div class="col-md-8">
		<table>
		<tr>
			<td>Calle:</td>
			<td class="col-md-4">Gardenias</td>
		</tr>
		<tr>
			<td>N&uacute;mero:</td>
			<td class="col-md-4">234</td>
		</tr>
		<tr>
			<td>Colonia:</td>
			<td class="col-md-4">Las Flores</td>
		</tr>
		<tr>
			<td>Delegaci&oacute;n:</td>
			<td class="col-md-4">&Aacute;lvaro Obreg&oacute;n</td>
		</tr>
		<tr>
			<td>Estado:</td>
			<td class="col-md-4">Ciudad de M&eacute;xico</td>
		</tr>
		<tr>
			<td>C&oacute;digo postal:</td>
			<td class="col-md-4">01180</td>
		</tr>
	</table>
	</div>
	<div class="row admin-head admin-head-contact">
		<h2 class="col-md-12">Contacto</h2>
	</div>
	<div class="col-md-8">
		<table>
		<tr>
			<td>Tel&eacute;fono de casa:</td>
			<td class="col-md-4">5546 7889</td>
		</tr>
		<tr>
			<td>Tel&eacute;fono celular:</td>
			<td class="col-md-4">55 9898 0987</td>
		</tr>
		<tr>
			<td>Correo elctr&oacute;nico:</td>
			<td class="col-md-4">jquiroz@gmail.com</td>
		</tr>
	</table>
	</div>
	<div class="password-section">
		<div class="row admin-head admin-head-pass">
			<h2 class="col-md-6">Contraseña</h2>
			<div class="col-md-6 text-right">
				<button class="btn btn-success">Editar</button>
			</div>
		</div>
		<p class="message">La última vez que se cambió la contraseña fue hace 3 meses</p>
	</div>
	<div class="password-section">
		<h4>Una contraseña segura contribuye a evitar el acceso no autorizado a la cuenta.</h4>
		<div class="row">
			<p class="col-md-6 filled">
				<span>Contraseña actual</span>
				<input type="password" value="12345678">
				<a href="">¿Olvidaste tu contraseña?</a>
			</p>
		</div>
		<div class="row">
			<p  class="col-md-6">
				<span>Nueva contraseña</span>
				<input type="password">
			</p>
		</div>
		<div class="row">
			<p class="col-md-6">
				<span>Confirmar nueva contraseña</span>
				<input type="password">
			</p>
			<div class="btns col-md-3 col-md-offset-2">
				<button class="btn btn-gray">Cancelar</button>
				<button class="btn btn-success">Guardar</button>
			</div>
		</div>
	</div>
</div>