<div class="row card-head">
	<div class="col-md-4 card-image">
		<img src="images/card-red.png">
	</div>	
	<div class="col-md-8 holder-data gridStyle">
		<h3>
			Tarjeta adicional <sup>***</sup>123
			<span>Jos&eacute; Quiroz Valverde</span>
		</h3>
		<div class="row card-dates">
			<div class="col-md-6">
				<table>
					<tr>
						<td>Cr&eacute;dito disponible:</td>
						<td>$ 18,995.98</td>
					</tr>
					<tr>
						<td>L&iacute;mite de gasto:</td>
						<td>$ 50,000.00</td>
					</tr>
					<tr>
						<td>Saldo a la fecha:</td>
						<td>$ 34,876.32</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6">
				<table>
					<tr>
						<td>&Uacute;ltima transacci&oacute;n:</td>
						<td>25/04/2015</td>
					</tr>
					<tr>
						<td>Compras con tarjetas:</td>
						<td>$ 10,234.44</td>
					</tr>
					<tr>
						<td>L&iacute;mite de gastos:</td>
						<td>$ 6,000.00</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row min-payment">
	<div class="col-md-4">
		<h5>Saldo m&iacute;nimo:</h5>
	</div>
	<div class="col-md-8">
		<h5>$1,000.00</h5>
	</div>
</div>

<!--  MOVIMIENTOS se muestra por default -->
<div class="movs-col">
	<div class="row movs-tools">
	  <div class="col-md-6">
	    <input type="search" placeholder="Buscar movimientos">
	  </div>
	  <div class="col-md-4 text-right">
	    Descargar movimientos:
	  </div>
	  <a class="col-md-1"><i class="ico-xml"></i>Excel</a>
	  <a class="col-md-1"><i class="ico-pdf"></i>PDF</a>
	</div>
	<div class="table-responsive movs-list">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>FECHA</th>
	        <th>DESCRIPCI&Oacute;N</th>
	        <th class="text-right">IMPORTE</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right negative-number">-$ 5,000.00</td>
	      </tr>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right">$ 2,000.00</td>
	      </tr>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right negative-number">-$ 5,000.00</td>
	      </tr>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right">$ 3,000.00</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>
<!--  MOVIMIENTOS se muestra por default -->