<div class="row card-head">
	<div class="col-md-4 card-image">
		<img src="images/card-gold.png">
	</div>	
	<div class="col-md-8 holder-data gridStyle">
		<h3 class="pull-left">
			Tarjeta titular <sup>***</sup>000
			<span>Jos&eacute; Quiroz Valverde</span>
		</h3>
		<button class="btn btn-default pull-right">Configurar alertas</button>
		<div class="puntos gridStyle">
			<h4 class="pull-left">399</h4>
			<p class="pull-left">Tu saldo en puntos a la fecha <span>Última actualizaci&oacute;n: 10/15/2015</span></p>
		</div>
	</div>
</div>
<div class="row card-dates">
	<div class="col-md-4">
		<table>
			<tr>
				<td>Cr&eacute;dito disponible:</td>
				<td>$ 18,995.98</td>
			</tr>
			<tr>
				<td>L&iacute;mite de gasto:</td>
				<td>$ 50,000.00</td>
			</tr>
			<tr>
				<td>Saldo a la fecha:</td>
				<td>$ 34,876.32</td>
			</tr>
		</table>
	</div>
	<div class="col-md-4">
		<table>
			<tr>
				<td>&Uacute;ltima transacci&oacute;n:</td>
				<td>25/04/2015</td>
			</tr>
			<tr>
				<td>Compras con tarjetas:</td>
				<td>$ 10,234.44</td>
			</tr>
			<tr>
				<td>Pagos y devoluciones:</td>
				<td>$ 4,321.98</td>
			</tr>
		</table>
	</div>
	<div class="col-md-4">
		<table>
			<tr>
				<td>Pago para no pagar intereses:</td>
				<td>$700.00</td>
			</tr>
			<tr>
				<td>Fecha de corte:</td>
				<td>25/09/2015</td>
			</tr>
		</table>
	</div>
</div>
<div class="row min-payment">
	<div class="col-md-4">
		<h5>Pago m&iacute;nimo:</h5>
		<p>Fecha l&iacute;mite de pago:</p>
	</div>
	<div class="col-md-8">
		<h5>$1,000.00</h5>
		<p>25/10/2015</p>
	</div>
</div>

<!--  MOVIMIENTOS se muestra por default -->
<div class="movs-col">
	<div class="row menu-movs">
	  <p class="col-md-4 text-center active">Movimientos</p>
	  <p class="col-md-4 text-center">Meses sin intereses</p>
	  <p class="col-md-4 text-center">Estados de cuenta</p>
	</div>
	<div class="row period">
	  <p class="col-md-6 text-center active"><span>Periodo anterior</span></p>
	  <p class="col-md-6 text-center"><span>Periodo actual</span></p>
	</div>
	<div class="row movs-tools">
	  <div class="col-md-6">
	    <input type="search" placeholder="Buscar movimientos">
	  </div>
	  <div class="col-md-4 text-right">
	    Descargar movimientos:
	  </div>
	  <a class="col-md-1"><i class="ico-xml"></i>Excel</a>
	  <a class="col-md-1"><i class="ico-pdf"></i>PDF</a>
	</div>
	<div class="table-responsive movs-list">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>FECHA</th>
	        <th>DESCRIPCI&Oacute;N</th>
	        <th class="text-right">IMPORTE</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right negative-number">-$ 5,000.00</td>
	      </tr>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right">$ 2,000.00</td>
	      </tr>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right negative-number">-$ 5,000.00</td>
	      </tr>
	      <tr>
	        <td>24/08/2015</td>
	        <td>Departamentales</td>
	        <td class="text-right">$ 3,000.00</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>
<!--  MOVIMIENTOS se muestra por default -->

<!-- ESTADOS DE CUENTA -->
<div class="account-states-col" style="display:none">
	<div class="row movs-tools">
	 	<div class="col-md-12">
			<input type="search" placeholder="Buscar por Año / Mes">
		</div>
	</div>
	<ul class="account-states col-md-12">
	    <li>
	    	<h4>2015</h4>
	    	<table>
	    		<tr>
	    			<td>SEPTIEMBRE</td>
	    			<td class="text-right"><a class="ico-download">Descargar</a></td>
	    			<td class="text-right"><a class="ico-print">Imprimir</a></td>
	    		</tr>
	    		<tr>
	    			<td>AGOSTO</td>
	    			<td class="text-right"><a class="ico-download">Descargar</a></td>
	    			<td class="text-right"><a class="ico-print">Imprimir</a></td>
	    		</tr>
	    		<tr>
	    			<td>JULIO</td>
	    			<td class="text-right"><a class="ico-download">Descargar</a></td>
	    			<td class="text-right"><a class="ico-print">Imprimir</a></td>
	    		</tr>
	    	</table>	
	    </li>
	    <li class="closed">
	    	<h4>2014</h4>
	    	<table>
	    		<tr>
	    			<td>SEPTIEMBRE</td>
	    			<td class="text-right"><a class="ico-download">Descargar</a></td>
	    			<td class="text-right"><a class="ico-print">Imprimir</a></td>
	    		</tr>
	    		<tr>
	    			<td>AGOSTO</td>
	    			<td class="text-right"><a class="ico-download">Descargar</a></td>
	    			<td class="text-right"><a class="ico-print">Imprimir</a></td>
	    		</tr>
	    		<tr>
	    			<td>JULIO</td>
	    			<td class="text-right"><a class="ico-download">Descargar</a></td>
	    			<td class="text-right"><a class="ico-print">Imprimir</a></td>
	    		</tr>
	    	</table>	
	    </li>
	</ul>
</div>
<!-- ESTADOS DE CUENTA -->