<div class="container icon-row">
	<div class="row">
		<a href="#/" class="ico-facebook"></a>
		<a href="#/" class="ico-twitter"></a>
		<a href="#/" class="ico-youtube"></a>
		<a href="#/" class="ico-linkedin"></a>
		<a href="#/" class="ico-ipab"></a>
		<a href="#/" class="ico-trusteer"></a>
		<a href="#/" class="ico-buro"></a>
	</div>
</div>
<div class="container footer-links">
	<div class="row">
		<p class="col-md-10">
			<a href="#/">Seguridad</a>  |  
			<a href="#/">Aviso de Privacidad</a>  |  
			<a href="#/">FATCA</a>  |  
			<a href="#/">Términos y condiciones</a>  |  
			<a href="#/">Ley de Transparencia</a>  |  
			<a href="#/">Banca y Mercados Globales</a>  |  
			<a href="#/">Condusef</a>
		</p>
		<p class="col-md-2 text-right">© 2015 Scotiabank</p>
	</div>
</div>