//ADMIN
.admin-user-data{
	margin-top: 40px;
	p{
		&.message{
			text-align: center;
			padding:30px 0;
			border-bottom: 1px solid $gray;
		}
	}
	.admin-head{
		width: 98%;
		overflow: hidden;
		clear:both;
		border-bottom: 1px solid $gray;
		h2{
			font-weight: normal;
			font-size: 1.4em;
		}
		.btn-success, .btn-default{
			width: 150px;
		}
		&.admin-head-contact{
			border:none;
		}
		&.admin-head-pass{
			padding-top: 50px;
			border-top: 1px solid $gray;
		}
	}
	table{
		width: 100%;
		border-collapse:collapse;
		margin: 20px 0;
		tr{
			border-bottom:1px solid $gray;
			&:last-child{
				border:none;
			}
			td{
				padding: 5px 10px;
			}
		}
	}
}
.password-section{
	h4{
		font-weight: normal;
		margin-bottom: 30px;
	}
	.row{
		margin-bottom: 20px;
		p{
			span{
				display: block;
				margin-bottom: 5px;
			}
			input{
				width: 100%;
				margin: 0;
			}
			a{
				display: block;
				font-size: 0.8em;
				color:#2a5db0;
				text-decoration: underline;
				margin-top: 5px;
			}
			&.filled{
				&:after{
					cursor: pointer;
					content: "";
					display: block;
					position: absolute;
					top:40px;
					right:30px;
					width: 15px;
					height: 15px;
					background: url("../images/ico-show-pass.png") no-repeat 98% center;
					background-size:15px;
				}
			}
		}
	}
}
//TOKEN
.admin-user-token{
	margin-top: 55px;
	.img-token{
		img{
			width: 90%;
			display: block;
			margin: auto;
		}
	}
	.token-data{
		table{
			width: 95%;
			border-collapse: collapse;
			background: $bg-color;
			margin-bottom: 30px;
			@include border_radius(5px);
			tr{
				border-bottom: 1px solid $gray;
				&:last-child{
					border:none;
				}
				td{
					padding: 10px;
				}
			}
		}
		.btns{
			width: 95%;
		}
	}
}

//CARDS
.admin-user-cards{
	> .btn-default{
		padding-left: 10px;
		padding-right: 10px;
		margin-right: 15px;
	}
	.card-list{
		margin-bottom: 40px;
		clear:both;
		img{
			width: 100%;
		}
		h3, h4{
			margin: 0 0 10px;
			font-weight: normal;
		}
		p{
			margin-top: 20px;
			.btn-default{
				padding-left: 10px;
				padding-right: 10px;
				margin:0 15px 0 0;
				&:last-child{
					margin: 0;
				}
			}
		}
	}
}
.admin-user-edit-card{
	margin-top: 55px;
	.holder-data{
		padding:15px 15px 15px 0;
		margin-bottom: 20px;
		@include box_shadow_right(rgba(0,0,0,0.2));
		img{
			width: 100%;
		}
		h3{
			margin: 0 0 20px;
			font-weight: normal;
			color:$default-color;
			font-size: 1.6em;
			span{
				display: block;
				margin-top: 10px;
				font-size: 0.7em;
			}
		}
	}
	.card-security{
		margin: 30px 0;
		+ .row{
			margin: 0;
			padding-right: 15px;
		}
		p{
			font-size: 0.9em;
		}
	}
	.card-alerts-setup{
		margin: 0;
		h3{
			font-weight: normal;
			font-size: 1.1em;
			margin-bottom: 30px;
		}
		.row{
			margin-bottom: 20px;
			p{
				span{
					display: block;
					margin-bottom: 5px;
				}
				input{
					width: 100%;
					margin: 0;
				}
				a{
					display: block;
					font-size: 0.8em;
					color:#2a5db0;
					text-decoration: underline;
					margin-top: 5px;
				}
			}
		}
		.btn-success{
			width: 40%;
		}
	}
	.card-alerts{
		margin: 0;
		.row{
			margin: 0;
			margin-right: 15px;
		}
		h2{
			clear: both;
			font-weight: normal;
			font-size: 1.2em;
			padding:10px 15px;
			border-bottom:1px solid $gray;
		}
		.btn-default, .btn-success{
			width: 30%;
			margin-bottom: 0;
			margin-right: 5px;
		}
		.checkbox-list{
			margin-top: 30px;
			p{
				font-size: 0.9em;
				vertical-align: middle;
				padding:10px;
				i{
					cursor: pointer;
					display: inline-block;
					margin-right: 15px;
					width: 30px;
					height: 30px;
					vertical-align: middle;
					&.ico-checkbox{
						background:url("../images/ico-checkbox-off.png") no-repeat center center;
						background-size:30px;
						&.active{
							background:url("../images/ico-checkbox-on.png") no-repeat center center;
							background-size:30px;
						}
					}
				}
			}
		}
	}
	.card-max-amount{
		margin: 40px 0 0;
		color:$gray;
		.row{
			margin: 0;
			padding-right: 15px;
		}
		.min-amount{
			font-weight: bold;
			font-size: 1.8em;
			color:black;
		}
		.max-amount{
			font-weight: normal;
			font-size: 1.8em;
		}
	}
}

//SETUP CARDS
.admin-setup-card{
	background:#f5f5f5;
	min-height:500px;
	.setup-card-nav{
		margin: 0;
		overflow: hidden;
		background:url(../images/border-top.gif) repeat-x;
		li{
			float: left;
			padding:15px;
			text-align: center;
			min-width: 20%;
			border-right:1px solid $gray;
			border-top:5px solid #e6e6e6;
			&.active{
				background:#d4d4d4;
				border-top:5px solid $dred;
			}
		}
	}
	.setup-card-head{
		margin: 0;
		background: white;
		border-top:1px solid $gray;
		border-bottom:1px solid $gray;
		h3{
			font-weight: normal;
			font-size: 1.4em;
		}
	}
	.setup-card-capture{
		margin: 20px;
		.row{
			margin-bottom: 20px;
			p{
				span{
					display: block;
					margin-bottom: 5px;
				}
				input{
					width: 100%;
					margin: 0;
				}
				a{
					display: block;
					font-size: 0.8em;
					color:#2a5db0;
					text-decoration: underline;
					margin-top: 5px;
				}
			}
		}
	}
	.setup-card-confirm{
		margin: 0;
		.row{
			margin: 0;
		}
		&.detail{
			margin-bottom: 20px;
		}
		table{
			border-collapse:collapse;
			margin-bottom: 50px;
			td{
				&:first-child{
					font-weight: bold;
					padding:15px;
				}
			}
		}
		.btns{
			margin-top: 0;
		}
	}
}