//CARDS
.card-head{
	margin-top: 72px;
	.card-image{
		img{
			width: 100%;
		}
	}
	.holder-data{
		h3{
			margin: 0 0 20px;
			font-weight: normal;
			color:$default-color;
			font-size: 1.6em;
			span{
				display: block;
				margin-top: 10px;
				font-size: 0.7em;
			}
		}
		.btn-default{
			min-width: 200px;
			margin:5px 15px 0 0;
		}
		.puntos{
			clear:both;
			background: $lgray;
			margin-right:15px;
			padding:10px;
			color:$default-color;
			h4{
				font-size: 2em;
				font-weight: normal;
				margin:0 20px 0;
			}
			p{
				font-size: 0.8em;
				font-weight: bold;
				margin: 0;
				span{
					font-weight: normal;
					display: block;
				}
			}
		}
	}
}
.card-dates{
	margin-top: 30px;
	table{
		color:$default-color;
		font-size: 0.9em;
		border-collapse: collapse;
		width: 95%;
		tr{
			border-bottom: 1px solid $default-color;
			&:last-child{
				border:none;
			}
			td{
				padding:5px 0;
				&:last-child{
					text-align: right;
				}
				}
		}
	}
}
.min-payment{
	margin: 30px 0;
	div{
		color:$default-color;
		padding:0;
		h5{
			margin-top: 0;
			font-weight: normal;
			font-size: 1.7em;
		}
		p{
			margin: 0;
			font-size: 1.1em;
		}
	}
}
.menu-movs{
	padding-top: 15px;
	background:$bg-color;
	overflow:hidden;
	> p{
		margin: 0;
		padding:10px;
		background:none;
		cursor: pointer;
		&.active{
			background:white;
			border:1px solid $gray;
			border-bottom:none;
		}
	}
}
.period{
	border-bottom:1px solid $gray;
	> p{
		color:$mgray;
		margin: 0;
		padding:15px;
		span{
			cursor: pointer;
		}
		&.active{
			font-weight: bold;
			span{
				color:$default-color;
				padding-bottom: 15px;
				border-bottom:3px solid $dred;
			}
		}
	}
}
.movs-tools{
	background:white;
	color: $mgray;
	padding:10px 0;
	overflow:hidden;
	> div:nth-child(2){
		margin-top: 8px;
	}
	input{
		margin: 0;
		padding:0 0 0 30px;
		border:none;
		background:url("../images/ico-search.png") no-repeat left center, white;
		background-size:15px;
		&:focus{
			outline: none;
		}
	}
	a, a:hover {
		margin-top: 10px;
		cursor: pointer;
		color: #2a5db0;
		font-size: 0.8em;
		text-decoration: underline;
		i{
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-right: 3px;
			&.ico-xml{
				background:url("../images/ico-xml.png") no-repeat center center;
				background-size:auto 15px;
			}
			&.ico-pdf{
				background:url("../images/ico-pdf.png") no-repeat center center;
				background-size:auto 15px;
			}
		}
	}
}
.movs-list{
	border-top: 1px solid $gray;
	table{
		thead{
			th{
				background: $bg-color;
			}
		}
		tbody{
			tr{
				background:white;
				&:nth-child(even){
					background:$lgray;
				}
				td{
					&:last-child{
						font-weight: bold;
						&.negative-number{
							color:$dred;
						}
					}
				}
			}
		}
	}
}
.account-states{
	border-top: 1px solid $gray;
	ul,li{
		margin: 0;
		padding: 0;
		list-style: none;
		&.closed{
			h4{
				&:after{
					@include rotate(135deg);
				}
			}
			table{
				display: none;
			}
		}
		h4{
			padding: 10px;
			margin: 0;
			position: relative;
			&:after{
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				position: absolute;
				top:50%;
				margin-top: -5px;
				right: 15px;
				border-top: 2px solid $gray;
				border-right: 2px solid $gray;
				@include rotate(-45deg);
			}
		}
		table{
			width: 100%;
			tr{
				background:white;
				&:nth-child(even){
					background:$lgray;
				}
				td{
					color:$gray;
					padding:10px;
					a, a:hover {
						cursor: pointer;
						color: #2a5db0;
						font-size: 0.8em;
						text-decoration: underline;
						padding-left: 20px;
						&.ico-download{
							background:url("../images/ico-download.png") no-repeat left center;
							background-size:15px;
						}
						&.ico-print{
							background:url("../images/ico-print.png") no-repeat left center;
							background-size:15px;
						}
					}
				}
			}
		}
	}
}