
/************** SIGNUP **************/
.login_content,
.signup_content{
	overflow: hidden;
	.signup_header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		background: #FFFFFF;
		padding: 15px 0;
		@include box_shadow(#CCCCCC);
		.logo{
			background: url("../images/logo2.png") no-repeat;
			background-size: contain;
			width: 175px;
			height: 45px;
		}
		.btn-salir{
			width: 150px;
		}
	}
	h1{
		color: $red;
		font-size: 1.2em;
	}
	.tooltip-input{
		position: absolute;
		z-index: 9999;
		width: 150px;
		padding: 5px 10px;
		background: #ffffff;
		margin-left: 95%;
		margin-top: -40px;
		// border: 1px solid #cccccc;
		@include box_shadow(#ababab);
		@include border_radius(5px);
		.arrow{
			background: url("../images/arrow-tooltip-left.png") no-repeat;
			background-size: contain;
			width: 13px;
			height: 19px;
			position: absolute;
			margin-left: -23px;
			margin-top: 5px;
		}
		p{
			padding: 0 0 5px 0;
			margin: 0;
			font-size: 0.7em !important;
		}
	}
}